{% extends "stream.html" %}

{% block content %}
<div class="row">
    <div class="grid-25">
        <h1>{{ user.username }}</h1>
        <!-- Follow/unfollow button -->
        {% if current_user.is_authenticated %}
            {% if user != current_user %}
                {% if not user in current_user.following() %}
                    <a href="{{ url_for('follow', username=user.username) }}" class="followBtn">Follow</a>
                {% else %}
                    <a href="{{ url_for('unfollow', username=user.username) }}" class="followBtn">Unfollow</a>
                {% endif %}
            {% endif %}
        {% endif %}
        <h2 style="color: #a9a9a9; margin: -10px 0 10px 0">{{ user.email }}</h2>
    </div>
    <div class="grid-50">
        <div class="grid-33">
            <h5>Posts:</h5>
            <p>{{ user.posts.count() }}</p>
        </div>
        <div class="grid-33 grid-33_pt2">
            <h5>Followers:</h5>
            <p>{{ user.followers().count() }}</p>
        </div>
        <div class="grid-33 grid-33_pt2">
            <h5>Following:</h5>
            <p>{{ user.following().count() }}</p>
        </div>
    </div>
    <div class="postBox">
        <div class="post">
            <hr>
        </div>
    </div>
</div>

{{ super() }}
{% endblock %}